
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mask Detection</title>
</head>
<body>
    <style>
        th, td, p, input, h3 {
            font:15px 'Segoe UI';
        }
        table, th, td {
            width: auto;
            height: auto;
            border: solid 2px #ddd;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center; 
            
  padding-right: 30px;
  
  padding-left: 80px;
        }
        th {
            font-weight:bold;
            
        }
    </style>
    <table style="width: 50%">
        <tr>
            <th>Name</th>
            <th>Date </th>
            <th>Time </th>
            
        </tr>
        <tr>
            <td>{{ n }}</td>
            <td>{{ d }}</td>
            <td>{{ t }}</td>
            
        </tr>
       
    </table>    

<br>
</body>
</html>